* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cointiner {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid red;
}

.div {
    width: 60vh;
    height: 40vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1 {
    width: 140px;
    height: 140px;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.card2 {
    width: 140px;
    height: 140px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
}

.card1 button {
    width: 90px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
}

.card2 button {
    width: 90px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
}

.card1 img {
    width: 100px;
    height: 70px;
    border-radius: 3px;
    object-fit: contain;
}

.card2 img {
    width: 100px;
    height: 70px;
    border-radius: 3px;
    object-fit: contain;
    border-bottom: 2px solid black;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
}

header nav h2 {
    cursor: pointer;
    font-weight: bold;
    font-size: 27px;
}

header nav .navbar-links {
    display: flex;
    gap: 25px;
}

header nav .navbar-links li {
    list-style: none;
}

header nav .navbar-links li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

header nav .navbar-links li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: -4px;
    background-color: #000;
    transition: .1s;
}

header nav .navbar-links li a:hover::after {
    height: 2px;
}

header nav button {
    padding: 11px 33px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    box-shadow: 3px 3px 10px 1px rgb(75, 75, 75);
    cursor: pointer;
}

header nav button:hover {
    background: linear-gradient(to right, yellow, white);
    transition: .3s;
}